// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.top {
  
  padding-top: 177px;
  
}

  
.img { 

  display: flex;
  justify-content: center;
  align-items: center;

}



.m-top {

  padding-top: 100px;
  
}


.s-top {

  padding-top: 50px;

}


.txt {

  text-align: center;
  padding-top: 10px;

}

  
