// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.top {
  
  padding-top: 177px;
  
}

  
.img { 

  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;

}



.m-top {

  padding-top: 77px;
  
}


.s-top {

  padding-top: 10px;

}


.txt {

  text-align: center;
  padding-top: 10px;
  font-size: 14.21px;

}


.s-txt {
  
  font-size: 10px;
  
}




@media screen and (min-width: 601px) {

  p {
  
    line-height: 1.67;
    font-size: 15px;
  
  }

}



@media screen and (max-width: 600px) {

  p {

    line-height: 1.67;
    font-size: 14px;

  }

  .post-link {

    display: block;
    font-size: 1.1rem;

  }

  .txt {

  text-align: center;
  padding-top: 10px;
  font-size: 13px;

 }
  
}



h3 {
  
  padding-bottom: 10px;

}


