// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.top {
  
  padding-top: 177px;
  
}

  
.img { 

  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;

}



.m-top {

  padding-top: 100px;
  
}


.s-top {

  padding-top: 10px;

}


.txt {

  text-align: center;
  padding-top: 10px;
  font-size: 14.21px;

}


@media screen and (min-width: $on-medium) {
  p {
    
    line-height: 1.67;
    font-size: 15.31px;
    
  }
}

  
p {

  line-height: 1.67;
  font-size: 13px;

}

h3 {
  
  padding-bottom: 10px;

}
  
